.ImageContainer {
  position: relative;

  background-color: red;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.ImageContainer::-webkit-scrollbar:horizontal {
  width: 0;
  height: 0;
  background-color: transparent;
}

.image-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;
}


.image-gallery > li {
 display:grid;
 grid-template-columns:repeat(1fr);
  list-style: none;
  height: 250px;
  cursor: pointer;
  position: relative;
}


.image-gallery li img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

.gallaryPlacement {
  position: absolute;
  bottom: 20px;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 0 10px;
  right: 10px;
  cursor: pointer;
}

.gallaryPlacement :active {
  opacity: 0;
}

.bottom-sheet-btn1 {
  width: 80%;
  height: 50px;
  background-color: 'red';
  border-radius: 15px;
}

.bookedlist-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.service-list-container {
  overflow-y: scroll;
  padding-top: 100px;
  width: 25%;
  padding-inline: 20px;
  height: 100%;
  background-color: white;
  border-right: .5px solid rgb(211,211,211); 
}
.map-container {
  position: relative;
  width: 75%;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.map-container-header {
  top: 100px;
  position: absolute;
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search-container {
  height: 60px;
  width: 50%;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding-inline: 20px;
}

.categories {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  overflow-x: scroll;
}

.categories::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.category-btn {
  margin-right: 5px;
  margin-left: 5px;
  padding: 7px;
  min-width: 120px;
  background-color: white;
  border-radius: 20px;
  transition: .3s;
}

.--selected {
  background-color: #4F9ED0;
  color: white;
}

.category-btn:hover {
  scale: 1.05;
  transition: .3s;
}


/* Apply styles for screens smaller than 576px (extra small) */
@media (max-width: 575.98px) {
  /* CSS styles */
  .service-list-container {
    display: none;
  }
  .map-container {
    width: 100%;
  }
  .search-container {
    width: 90%;
  }
  .categories {
    justify-content: flex-start;
  }
}

/* Apply styles for screens larger than or equal to 576px (small) */
@media (max-width: 576px) {
  /* CSS styles */
  /* .service-list-container {
    display: none;
  }
  .map-container {
    width: 100%;
  }
  .search-container {
    width: 90%;
  }
  .categories {
    justify-content: flex-start;
  } */
}

/* Apply styles for screens larger than or equal to 768px (medium) */
@media (min-width: 768px) {
  /* CSS styles */
}

/* Apply styles for screens larger than or equal to 992px (large) */
@media (min-width: 992px) {
  /* CSS styles */
}

/* Apply styles for screens larger than or equal to 1200px (extra large) */
@media (min-width: 1200px) {
  /* CSS styles */
}
